@using Duber.Infrastructure.Chaos
@model List<OperationChaosSetting>



<div class="panel panel-default">
    <div class="panel-heading">Operations Chaos Settings</div>
    <div class="panel-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <button asp-controller="Chaos" asp-action="AddOperationSettings" class="btn btn-primary" formmethod="get" formnovalidate>New</button>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Operation
                    </th>
                    <th>
                        Enabled
                    </th>
                    <th>
                        Injection Rate
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model?.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => m[i].OperationKey)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].Enabled)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m[i].InjectionRate)
                        </td>
                        <td>
                            @Html.ActionLink("Update", "UpdateOperationSettings", new { operationKey = Model[i].OperationKey })
                        </td>
                        <td>
                            @{
                                var parms = new Dictionary<string, string>
                                                {
                                    { "operationKey", Model[i].OperationKey }
                                };
                            }
                            <button asp-controller="Chaos" asp-action="DeleteOperationSettings" asp-all-route-data="@parms" type="submit" class="btn-link" formmethod="post" formnovalidate>Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
