@model GeneralChaosSettingViewModel

@{
    ViewData["Title"] = "Chaos Settings";
}

<h2>Chaos Settings</h2>
<div asp-validation-summary="All" class="text-danger"></div>

@{
    if (Model.Id == Guid.Empty)
    {
        <div id="info" class="alert alert-info">
            <strong id="info-text">
                There are no settings saved yet. In order to add some operation settings, you should save the general settings first.
            </strong>
        </div>
    }
}

<form method="post">
    <div class="panel panel-default">
        <div class="panel-heading">General Chaos Settings</div>
        <div class="panel-body">

            <input type="hidden" asp-for="Id" />

            <div class="form-row">
                <div class="form-group col-md-4">
                    <input asp-for="AutomaticChaosInjectionEnabled" type="checkbox" class="automatic-chaos-injection" />
                    <label asp-for="AutomaticChaosInjectionEnabled">Enable Automatic Chaos Injection</label>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Frequency"></label>
                    <input asp-for="Frequency" type="time" class="form-control automatic-chaos-controls" value="@Model.Frequency" min="00:15" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="MaxDuration">Max Duration</label>
                    <input asp-for="MaxDuration" type="time" class="form-control automatic-chaos-controls" value="@Model.MaxDuration" min="00:05" max="01:00" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <hr />
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <input asp-for="ClusterChaosEnabled" type="checkbox" class="cluster-chaos" />
                    <label asp-for="ClusterChaosEnabled">Enable Cluster Chaos</label>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="PercentageNodesToRestart">Percentage Nodes To Restart</label>
                    <input asp-for="PercentageNodesToRestart" type="number" class="form-control cluster-chaos-controls" value="@Model.PercentageNodesToRestart" min="0" max="100" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="PercentageNodesToStop">Percentage Nodes To Stop</label>
                    <input asp-for="PercentageNodesToStop" type="number" class="form-control cluster-chaos-controls" value="@Model.PercentageNodesToStop" min="0" max="100" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="ResourceGroupName">Resource Group Name</label>
                    <input asp-for="ResourceGroupName" class="form-control cluster-chaos-controls" value="@Model.ResourceGroupName" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="VMScaleSetName">VM Scale Set Name</label>
                    <input asp-for="VMScaleSetName" class="form-control cluster-chaos-controls" value="@Model.VMScaleSetName" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="ClusterChaosInjectionRate">Injection Rate</label>
                    <input asp-for="ClusterChaosInjectionRate" type="number" class="form-control cluster-chaos-controls" min="0" max="1" value="@Model.ClusterChaosInjectionRate" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <button asp-controller="Chaos" asp-action="UpdateGeneralSettings" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    @{
        if (Model.Id != Guid.Empty)
        {
            await Html.RenderPartialAsync("_OperationSettingsList", Model?.OperationChaosSettings);
        }
    }
</form>

@* Once again, sorry for this UGLY js *@
@section Scripts {
    <script>
        window.onload = function () {
            $(".automatic-chaos-injection").change(automaticChaosInjectionChanged);
            $(".cluster-chaos").change(clusterChaosChanged);
            $(".automatic-chaos-injection").trigger("change");
            $(".cluster-chaos").trigger("change");
        };

        let automaticChaosInjectionChanged = (event) => {
            var enable = true;
            if (event.currentTarget.checked == false) {
                enable = false;
            }

            $(".automatic-chaos-controls").prop("readonly", !enable);
        };

        let clusterChaosChanged = (event) => {
            var enable = true;
            if (event.currentTarget.checked == false) {
                enable = false;
            }

            $(".cluster-chaos-controls").prop("readonly", !enable);
        };
    </script>
}